@import 'partials/variables';
body{
    font-family: 'Raleway', sans-serif;    
    background: #fafafa;
}
header{
    padding:20px 0px; 
   text-align: center;
   h1{
       font-size: 40px;
       font-weight: 500;
       span{
        color: $base-color;
    }
   }
}

// .step-nav {
//     .nav-btn {
//         .svgImage {
//             height: 30px;
//             g{
//                 path,polygon{
//                     fill:$base-color !important;
//                 }
//             }
//         }
//         &:disabled {
//             opacity: 0.5;
//         }
//         &:focus {
//             outline: none;
//         }
//         &.next-btn {
//             -moz-transform: rotate(180deg);
//             -webkit-transform: rotate(180deg);
//             -ms-transform: rotate(180deg);
//             transform: rotate(180deg);
//         }
//     }
//     @media(max-width:991px) {
//         position: absolute;
//         top: 25%;
//         .nav-btn {
//             img {
//                 width: 23px;
//             }
//             &.next-btn {
//                 -moz-transform: rotate(90deg);
//                 -webkit-transform: rotate(90deg);
//                 -ms-transform: rotate(90deg);
//                 transform: rotate(90deg);
//             }
//             &.prev-btn {
//                 -moz-transform: rotate(-90deg);
//                 -webkit-transform: rotate(-90deg);
//                 -ms-transform: rotate(-90deg);
//                 transform: rotate(- 90deg);
//             }
//         }
//     }
// }
.form-control{
    border-radius: 2px;
    width: 450px;
    display: table;
    margin: 0 auto;
    box-shadow: none;
    border:1px solid #ddd;
    &:focus{
        border-color:$base-color;
        box-shadow: none;
    }
    @media (max-width:600px){
        width: 100%;
    }
}
.btn{
    &.btn-custom{
        width:200px;
    }
}
.tyle-container{
    h3{
        font-weight: 400;
        font-size: 20px;
        margin: 0px 100px;
        line-height: 35px;
        @media (max-width:767px){
            font-size: 14px;
            line-height: normal;
            margin:0px;
        }
    }
}