@import 'partials/variables';
@import 'partials/common';
.tyle-area {
    padding: 0px;
    overflow: hidden;
    min-height: 78vh;
    max-height: 78vh;
    text-align: center;
    .progress-indicator {
        background: $sec-color;
        height: 5px;
        border-radius: 10px;
        display: table;
        margin: 0 auto;
        width: 250px;
        margin-bottom: 80px;
        z-index: 99;
        margin-top: 10px;
        position: relative;
        .progress-bar {
            position: absolute;
            height: 5px;
            width: 0%;
            top: 0px;
            border-radius: 10px;
            background: $base-color;
            left: 0px;
        }
    }
    .step-nav {
        position: fixed;
        right: 10px;
        top: 49%;
        z-index: 9999999999999999;
        .nav-btn {
            position: relative;
            display: inline-block;
            z-index: 99;
            border: none;
            background: none;
            box-shadow: none;
            margin: 0px 3px;
            vertical-align: middle;
            font-size:20px;
            color:$base-color;
            &:disabled {
                opacity: 0.5;
            }
            &:focus {
                outline: none;
            }
        }
        @media(max-width:991px) {
            position: absolute;
            top: 30%;
            .nav-btn {
                font-size:18px; 
            }
        }
    }
    
    .item {
        -webkit-transition: all 1.3s;
        -moz-transition: all 1.3s;
        -ms-transition: all 1.3s;
        transition: all 1.3s;
        position: relative;
        opacity: 1;
        height: 70vh;
        overflow: auto;
        &.active {
            opacity: 1;
        }
        h3 {
            margin-bottom: 20px;
        }
        @media(max-width:991px) {
            height: auto;
            width: 100%;
            opacity: 1;
            display: inline-block;
            white-space: normal;
        }
    }
    @media(max-width:991px) {
        max-height: none;
        min-height: 0;
        white-space: nowrap;
        overflow-x: hidden;
    }
}