
@import 'partials/variables';
  .tyle-area{
        padding:0px;
        overflow:hidden;
        min-height:78vh;
        max-height:78vh;
        text-align: center;
        .progress-indicator{
            background: $sec-color;
            height: 5px;
            border-radius: 10px;
            display:table;
            margin:0 auto;
            width:250px;
            margin-bottom:80px;
            z-index: 99;
            margin-top: 10px;
            position:relative;
            .progress-bar{
                position:absolute;
                height:5px;
                width:0%;
                top: 0px;
            border-radius: 10px;
                background:$base-color;
                left:0px;
                
            }

        }
        .step-nav{
            position:fixed;
            right:0px;
            top:50%;
            
.nav-btn{
    position: relative;
    display: inline-block;
    z-index: 99;
    border:none;
    background: none;
    box-shadow: none;
    margin: 0px 3px;
    vertical-align: middle;
    img{
        height: 30px;
    }
    &:disabled{
        opacity: 0.5;
    }
    &:focus{
        outline: none;
    }
&.next-btn{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
    @media(max-width:991px) {
        display: none;
    }
}
            
        }
        .outer{
    display: table;
    margin: 0 auto;
    width: 100%;
    .inner{
        display: table-cell;
        vertical-align: middle;
        height: 45vh;
        @media(max-width:991px){
            height: auto;
        }
    }
}
        .item{
            transition: all 1.3s;
            position:relative;
            opacity: 1;
            height:70vh;
            overflow: auto;
            &.active{
                opacity: 1;
            }
            h3{
                margin-bottom: 20px;
            }
            @media(max-width:991px){
                height: auto;
            }
        }
        @media(max-width:991px){
            max-height: none;
            min-height: 0;
        }
    }
    

.owl-nav{
    position: absolute;
    top:-50px;
    right: 0px;
    z-index: 999999999;
    [class*='owl-']{
        background: none !important;
        width: 25px;
        height: 25px;
         margin: 0px 5px !important;
    padding:  0px !important;
        &.owl-next{
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
        &.owl-prev{
            -moz-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }
}