body {
  font-family: 'Raleway', sans-serif;
  background: #fafafa; }

header {
  padding: 20px 0px;
  text-align: center; }
  header h1 {
    font-size: 40px;
    font-weight: 500; }
    header h1 span {
      color: #494ea5; }

.form-control {
  border-radius: 2px;
  width: 450px;
  display: table;
  margin: 0 auto;
  box-shadow: none;
  border: 1px solid #ddd; }
  .form-control:focus {
    border-color: #494ea5;
    box-shadow: none; }
  @media (max-width: 600px) {
    .form-control {
      width: 100%; } }

.btn.btn-custom {
  width: 200px; }

.tyle-container h3 {
  font-weight: 400;
  font-size: 20px;
  margin: 0px 100px;
  line-height: 35px; }
  @media (max-width: 767px) {
    .tyle-container h3 {
      font-size: 14px;
      line-height: normal;
      margin: 0px; } }
