body {
  font-family: 'Quicksand', sans-serif;
  background: #fafafa; }

header {
  padding: 20px 0px;
  text-align: center; }
  header h1 {
    font-size: 40px;
    font-weight: 500; }
    header h1 span {
      color: #45C994; }

.outer {
  display: table;
  margin: 0 auto;
  width: 100%; }
  .outer .inner {
    display: table-cell;
    vertical-align: middle;
    height: 54vh; }

.btn.btn-custom {
  padding: 17px 37px;
  border-radius: 0px;
  margin: 10px 5px 0px 5px;
  text-transform: uppercase;
  background: #45C994;
  border: 1px solid transparent;
  color: #fff; }
  .btn.btn-custom:hover {
    border-color: #45C994;
    color: #45C994;
    background: none; }
  .btn.btn-custom.btn-custom-inverse {
    border-color: #45C994;
    color: #45C994;
    background: none; }
    .btn.btn-custom.btn-custom-inverse:hover {
      background: #45C994;
      color: #fff; }
  @media (max-width: 767px) {
    .btn.btn-custom {
      padding: 12px 27px; } }

section.form-area {
  padding: 0px;
  overflow: hidden;
  min-height: 78vh;
  max-height: 78vh;
  text-align: center; }
  section.form-area .progress-indicator {
    background: rgba(69, 201, 148, 0.41);
    height: 5px;
    border-radius: 10px;
    display: table;
    margin: 0 auto;
    width: 250px;
    margin-bottom: 80px;
    z-index: 99;
    margin-top: 10px;
    position: relative; }
    section.form-area .progress-indicator .progress-bar {
      position: absolute;
      height: 5px;
      width: 0%;
      top: 0px;
      border-radius: 10px;
      background: #45C994;
      left: 0px; }
  section.form-area .step-nav {
    position: fixed;
    right: 0px;
    top: 50%; }
    section.form-area .step-nav .nav-btn {
      position: relative;
      display: inline-block;
      z-index: 99;
      border: none;
      background: none;
      box-shadow: none;
      margin: 0px 3px;
      vertical-align: middle; }
      section.form-area .step-nav .nav-btn img {
        height: 30px; }
      section.form-area .step-nav .nav-btn:disabled {
        opacity: 0.5; }
      section.form-area .step-nav .nav-btn:focus {
        outline: none; }
      section.form-area .step-nav .nav-btn.next-btn {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
      @media (max-width: 991px) {
        section.form-area .step-nav .nav-btn {
          display: none; } }
  section.form-area .item {
    transition: all 1.3s;
    position: relative;
    opacity: 1;
    height: 70vh;
    overflow: auto; }
    section.form-area .item.active {
      opacity: 1; }
    section.form-area .item h1 {
      margin-bottom: 100px; }
    section.form-area .item h3, section.form-area .item p {
      font-size: 16px;
      color: #333333;
      letter-spacing: 0.17px;
      font-weight: 400;
      margin-bottom: 22px;
      line-height: 24px; }
    section.form-area .item .btn-custom-inverse {
      display: table;
      padding: 16px 34px;
      text-transform: none;
      margin: 10px auto; }
    section.form-area .item .user-intro {
      display: table;
      margin: 0 auto;
      height: 100%; }
      section.form-area .item .user-intro.name {
        width: 450px; }
        @media (max-width: 600px) {
          section.form-area .item .user-intro.name {
            width: 100%; } }
      section.form-area .item .user-intro .btn-custom {
        padding: 11px 34px; }
    section.form-area .item .skin-issues h4 {
      font-size: 13px;
      color: #4A4A4A;
      letter-spacing: 0.14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 12px; }
    section.form-area .item .skin-issues .col-md-4 {
      margin-bottom: 28px; }
    section.form-area .item .inline-btn .btn-custom {
      display: inline-block;
      margin: 0px 30px;
      width: 260px; }
    section.form-area .item .m-b h3 {
      margin-bottom: 72px; }
    section.form-area .item .m-b p {
      font-size: 14px;
      color: #999999;
      letter-spacing: 0.15px; }
    section.form-area .item .m-b img {
      display: table;
      margin: 10px auto 10px auto; }
    @media (max-width: 991px) {
      section.form-area .item {
        height: auto; } }
  @media (max-width: 991px) {
    section.form-area {
      max-height: none;
      min-height: 0; } }

.owl-nav {
  position: fixed;
  top: 150px;
  right: 10px;
  z-index: 999999999; }
